.login {
  margin: 0 auto;
  width: 500px;
  h4 {
    text-align: center;
    margin-bottom: 24px;
  }
  .login-toggle {
    margin: 0 auto 24px;
    width: 100px;

    .rs-btn-toggle {
      width: 100px;
    }
  }
}
