.easel {
  border: 2px dashed;
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (9 / 16) * 100%;
  }

  .canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.toolbar {
  .rs-control-label {
    margin-right: 5px;
  }

  .rsuite-color-picker {
    min-width: 50px;
  }

  .rs-btn-toggle.rs-btn-toggle-lg {
    margin-top: 3px;
    width: 75px;
  }

  // tweaks to make the ui work
  .brush-size {
    width: 200px;

    .rs-slider {
      margin-top: -12px;
      margin-left: 80px;
    }
  }
}
